# THE FILE CONTAINING YOUR BITWARDEN SESSION KEY
# source this file in your shell's login profile
# default: none

# sessionKeyFile=""

# THE COMMAND TO RUN WHEN EDITING OBJECTS
# default: xterm -e $EDITOR

# editCmd="st -e $EDITOR"
